
/* Paleta de cores */
:root{
  --begeClaro: #e5e0d8;
  --begeEscuro: #e5d2b8;
  --verdeClaro: #bbc4af;
  --verdeEscuro: #6e7f52;
  --terracota: #b35a35;
}

/* All Styles */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* Fontes */
@font-face {
  font-family: 'Ginger';
  src: url(./fonts/Ginger.ttf);
}
