.capa{
    width: 100%;
    height: calc(100vh + 60px);
    background-image: url(../images/img_olhar.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.dark_background{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.575);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--begeClaro);
}

.titulo{
    font-family: 'Ginger', sans-serif;
    letter-spacing: 5px;
    font-weight: lighter;
    font-size: 4.5em;
    margin-bottom: 50px;
}

.bar{
    content: '';
    height: 1px;
    width: 70px;
    background-color: var(--begeClaro);
    margin-bottom: 100px;
}

.container_versiculo{
    text-align: center;
    position: absolute;
    bottom: 230px;
}

.container_versiculo h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container_versiculo p{
    font-family: 'Ginger', serif;
    font-size: 1.1em;
}

@media screen and (max-width: 980px){
    .titulo{
        font-size: 2.7em;
        text-align: center;
    }

    .container_versiculo{
        bottom: 150px;
    }
}
